* {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica;
	font-weight: normal;
	font-size: 15px;
	max-width: 500px;
	margin: 0 auto;
}
h1 {
	margin-bottom: 20px
}
#container {
	margin-top: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

#footer {
	margin-top: 200px;
	font-size: 10px;
	font-weight: 100;
	text-align: center;
}

#footer a {
	color: black;
}
#footer a:hover {
	color: white;
}
p {
	margin-top: 20px;	
}
strong {
	font-weight: normal;
}
ul {
	list-style: none;
}
a:link {
	color: red;
}
a {
	color: black;
	background-color: white;
	text-decoration: none;
}
a:visited {
	color: red;
}
a:hover {
	background-color: black;
	color: white;
}

nav {
	margin-top: 100px;
}
